.jumbotron-plus {
  margin-bottom: 2rem;
  background-color: #9a938b;
  border-radius: .3rem;
  border: 1px solid #f2cb3b;
  background-position: 50%;
  background-size: cover;
  height: 500px;
  .container-fluid {
    margin-left: 100px;
    position: relative;
    top: 40%;
  }
  h1 {
    position: relative;
    left: 40%;
    top: 10px;
    font-family: 'fantasy';
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
  }
  h5 {
    color: white;
    text-align: center;
    position: relative;
    font-weight: bold;
    top: 20%;
  }
  h6 {
    color: white;
    text-align: center;
    position: relative;
    top: 40%;
    font-family: monospace;
  }
}

.navbar {
  .container-fluid {
    background-color: #b80a01;
    .navbar-nav > li > a {
      color: #ffffff;
      font-weight: bold;
    }
    .navbar-brand {
      color: black;
      font-size: 30px;
      font-weight: bold;
      font-family: 'Verdana';
      text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
    }
    padding: 10px 120px;
  }
}

.main-page {
  padding: 2px 50px;
}

.footer-page {
  position: relative;
  bottom: 0;
}

.dropdown-menu {
  a {
    transition: background-color 2s ease
  }
  a:hover {
    background-color: grey;
  }
}
